@import "tailwindcss";

@font-face {
    font-family: "Dancing Script";
    src: url("/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "LXGWWenKai-Regular";
    src: url("/fonts/LXGWWenKaiMonoTC-Regular.ttf") format("truetype");
}


.font-dancing {
    font-family: "Dancing Script", cursive;
}

.font-lxgw {
    font-family: "LXGWWenKai-Regular", monospace;
}